[submodule "backend"]
	path = backend
	url = https://github.com/rendijsb/family-connect-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/rendijsb/family-connect-frontend.git
